<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="shortcut icon" href="#">
    <title>게시글 상세보기</title>
</head>
<body>

<h1> 게시글 상세보기 입니다.</h1>
<h2>제목 :</h2>
<h2 th:text="${board.title}"></h2>
<p th:text="${board.getCreatedDate()}">작성일</p>

<h2>내용 :</h2>
<p th:text="${board.content}"> </p>

<!-- 수정/삭제 -->
<div>
  <a th:href="@{/board/update/{id} (id=${board.id})}">
    <button>수정</button>
  </a>

<!--  <form id='delete-form' th:action="@{/board/delete/{id} (id=${board.id})}">-->
<!--    <input type="hidden" name="_method" value="delete"/>-->
<!--    <button id="delete-btn">삭제</button>-->

<!--  </form>-->
</div>
</br>

<button th:onclick="|location.href='@{/board/list}'|">게시글 전체보기</button>
<button th:onclick="|location.href='@{/}'|">홈으로 </button>
</body>
</html>